body {
    font-family: Open Sans Condensed, sans-serif;
    overflow-x: hidden;
    background: url('../images/pattern1.png');
}

.fullPageNotes {
    display: none;
}

.none {
    display: none;
}

.normal {
    display: block;
}

.centered {
    display: block;
    margin: 0 auto;
}

.raleway {
    font-family: Raleway;
}

.noto {
    font-family: Noto Sans;
}

.gloria {
    font-family: Gloria Hallelujah;
}

.open {
    font-family: Open Sans Condensed;
}

.center {
    text-align: center;
}

.title {
    margin: 0;
    top: 5px;
    color: black;
    font-family: NTR;
    letter-spacing: 2px;
    font-size: 24pt;
}

.divEditor {
    /*margin-top: 10px;*/
    float: right;
    display: none;
}

    .divEditor input {
        margin-top: 8px;
        height: 40px;
        font-size: 14pt;
        width: 100%;
        outline: none;
        border: solid 1px transparent;
        /* border-bottom-left-radius:30px;
        border-top-left-radius:30px;
        border-bottom-right-radius:30px;
        border-top-right-radius:30px;
        padding-left:15px;*/
    }

/*.modal-vertical-centered {
        transform: translate(0, 40%) !important;
        -ms-transform: translate(0, 40%) !important; 
        -webkit-transform: translate(0, 40%) !important; 
    }*/

#myModal3 h4 {
    color: black;
}


#myModal3 .btnOptions {
    /*color: white;
    background: rgb(48,48,48);*/
    color: black;
    font-size: 14pt;
    margin-bottom: 5px;
}

.divEditor button {
    font-size: 15pt;
    font-weight: bold;
}

.row-navbar-menuPrincipal {
    background: #7ad9b0; /*8C9EFF*/
    color: white;
    border-bottom: solid 2px rgb(48,48,48);
}

.asideNotes {
    border-top-color: transparent;
    height: 900px;
}

.asidev2::-webkit-scrollbar {
    height: 120px;
    width: 7px;
}

.asidev2::-webkit-scrollbar-track {
    background: white;
}

.asidev2::-webkit-scrollbar-thumb {
    background-color: rgb(38,38,38);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 100px;
}

.logoMinimal {
    width: 55px;
    height: 50px;
    margin-top: -1px;
    margin-bottom: 5px;
}

.asidev2 {
    background: #f0eded; /*#b9c4ff*/
    background: url('../images/pattern1.png');
    border-right: solid 1px #7ad9b0;
    border-bottom: solid 1px #7ad9b0;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 900px;
    max-height: 900px;
}

#preview1 {
    margin-top: 100px;
    background: url("../images/post-it-large-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 850px;
    width: 80%;
}

#preview2 {
    margin-top: -10px;
    background: url("../images/post_reasons_2.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 80%;
}

.asideNotes h3 {
    width: 80%;
    height: auto;
}

.searchCategories {
    margin-left: -15px;
    margin-right: 0px;
    width: 100%;
}

select {
    border: none;
    width: 200px;
}

.blockNote {
    /*background-image: url("../images/noise.png");*/
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px black;
    opacity: 0.9;
}

.saveSuccess {
    background: #7ad9b0;
    width: 85%;
    text-align: center;
    font-size: 16pt;
    letter-spacing: 1px;
    font-family: Noto Sans;
    color: black;
}

.rainbow {
    background-image: url('../images/random.png');
    background-size: cover;
}

#not {
    transform: rotate(+180deg);
}

.blockNote:hover {
    cursor: pointer;
    opacity: 1;
}

.blockNoteMobile {
    margin-top: 1px;
    padding: 2px;
    padding-left: 5px;
    border-bottom: solid 1px black;
    background-color: #d4d4d4;
}

    .blockNoteMobile:first-child {
        margin-top: 10px;
    }

    .blockNoteMobile h1 {
        font-size: 15pt;
        margin-top: 0px;
        height: 17px;
        text-align: center;
    }

.noteMobileContainer {
    margin-left: -10px;
    margin-top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
    margin-bottom: 25px;
}

.blockNoteMobile:hover {
    -webkit-transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.chooseFile {
    background: rgb(48,48,48);
    color: #f0eded;
    font-size: 11pt;
    font-family: Arial;
}

    .chooseFile:hover {
        background: rgb(78,78,78);
        color: #f0eded;
        font-size: 11pt;
        font-family: Arial;
    }

#upload-button {
    margin-top: 5px;
}

#blockNoteError, #blockNoteErrorMobile {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -25px;
    display: block;
    background: #d4d4d4;
    color: black;
    height: 900px;
    text-align: center;
}

    #blockNoteError h2 i {
        font-size: 40pt;
    }

.delete-yes {
    background: #ff6a00;
    font-size: 13pt;
}

.no-display, .no-show, .no-text {
    display: none;
}

.noteMobileContainer::-webkit-scrollbar {
    width: 8px;
}

.noteMobileContainer::-webkit-scrollbar-track {
    background: #aaa;
}

.noteMobileContainer::-webkit-scrollbar-thumb {
    background-color: rgb(38,38,38);
    border-radius: 0px;
}

.sectionNotes {
    font-size: 15pt;
    margin-top: 2%;
    left: 15px;
}

.textField {
    width: 85%;
    margin-top: 2%;
}

.inputArea {
    font-size: 30pt;
    width: 85%;
    border: solid 1px transparent;
    border-bottom: dotted 1px black;
    margin-bottom: 1%;
    background: transparent;
}

#elementUploaded {
    width: 100px;
    height: 90px;
    background: black;
    margin-top: 800px;
}

.inputCategory {
    font-size: 20pt;
    width: 30%;
    border: solid 1px transparent;
    border-bottom: dotted 1px black;
    margin-bottom: 1%;
}

.circleFeatures {
    font-size: 20pt;
    text-align: center;
    margin-bottom: 2%;
    color: black;
    /*width: 70px;
    height: 70px;*/
    min-width: 50px;
    min-height: 50px;
    max-width: 65px;
    max-height: 65px;
    padding: 10px 16px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.circleFeaturesSettings {
    font-size: 20pt;
    text-align: center;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
    margin-left: 1%;
}

.shareButtonsModal {
    transition: all 0.3s ease-in-out;
    font-size: 30pt;
    text-align: center;
    margin-top: 5px;
    color: black;
    min-width: 75px;
    min-height: 75px;
    padding: 10px 16px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: 5px;
    opacity: 0.9;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.fontButtonsModal {
    transition: all 0.3s ease-in-out;
    font-size: 20pt;
    text-align: center;
    margin-top: 5px;
    color: black;
    min-width: 75px;
    min-height: 75px;
    padding: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: white;
    margin-left: 5px;
    opacity: 0.9;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

    .fontButtonsModal:hover {
        transition: all 0.3s ease-in-out;
        background: #7ad9b0;
        font-size: 18pt;
        font-weight: bolder;
    }


.shareButtonsModal:hover {
    transition: all 0.3s ease-in-out;
    color: black;
    opacity: 1;
}

#shareFile {
    background: #f0eded;
}

#sharePhoto {
    background: #ff6a00;
}

#shareAudio {
    background: #7ad9b0;
}

.rectFeaturesSettings {
    font-size: 20pt;
    text-align: center;
    width: 50px;
    height: 40px;
    margin-top: 8px;
    background: rgb(48,48,48);
    color: white;
    margin-left: -25px;
}

.setting {
    font-size: 20pt;
    text-align: center;
    width: 50px;
    height: 40px;
    margin-top: 8px;
    background: rgb(48,48,48);
    color: white;
    float: right;
    margin-right: -25px;
}

    .setting:hover, .setting:active, .setting:visited, .setting:focus {
        color: white;
    }

.rectFeaturesSettings:hover, .rectFeaturesSettings:visited, .rectFeaturesSettings:active, .rectFeaturesSettings:focus {
    color: white;
}

#sidebarIcon {
    margin-left: 2%;
    padding-top: 7px;
    font-size: 16pt;
    margin-top: 1px;
    margin-bottom: 10px;
}

#addFeatures {
    background: #7ad9b0;
}

#editFeatures {
    background: #fddf00;
    margin-left: 10px;
}

#uploadFeatures {
    margin-left: 10px;
}

#customFeatures {
    background: #8C9EFF;
    margin-left: 10px;
}

#deleteFeatures {
    background: #ff5100;
    margin-left: 10px;
}

#shareFeatures {
    background: rgb(48,48,48);
    margin-left: 10px;
    color: white;
    float: right;
    right: 135px;
}

.dropdown-menu-right li a {
    font-size: 13pt;
}

.dropdown-menu-right {
    margin-top: 70px;
}

    .dropdown-menu-right li {
        font-size: 18pt;
        padding-left: 5px;
    }

.circleFeatures:hover {
    color: black;
}

.rangeColors {
    margin-top: 8%;
}

.crea {
    font-size: 40pt;
    letter-spacing: 1px;
    margin-top: -10px;
    margin-left: 20px;
    font-family: Gloria Hallelujah;
}

.imageFirstNode {
    margin-top: -40px;
    height: 300px;
}

#firstImg {
    margin-top: 1%;
    background-image: url("../images/post_reasons_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 30%;
}

#secondImg {
    margin-top: 1%;
    background-image: url("../images/post_reasons_2.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 30%;
}

#thirdImg {
    margin-top: 1%;
    background-image: url("../images/post_reasons_3.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 30%;
}

.rowExamples h1 {
    background: #7ad9b0;
    padding: 1%;
    padding-left: 2%;
    font-size: 25pt;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.modalColors {
    opacity: 0.8;
    color: white;
    margin-left: 5%;
}

.input-icon {
    position: relative;
}

    .input-icon i {
        position: absolute;
        display: block;
        margin: 0;
        top: 10px;
        right: 17px;
        font-size: 14pt;
        color: white;
    }

    .input-icon input {
        background: rgb(48,48,48);
        color: rgb(144, 144, 144);
    }

.modalColors:hover, .modalColors:active, .modalColors:visited, .modalColors:focus {
    opacity: 1;
    color: white;
}

.photoScroll {
    max-height: 900px;
    overflow-y: scroll;
}

#video {
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 70%;
    max-height: 320px;
    min-width: 50%;
    min-height: 220px;
}

#canvas {
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 70%;
    max-height: 320px;
    min-width: 50%;
    min-height: 220px;
}

#startbutton, #upbutton {
    font-size: 14pt;
    width: 60px;
    text-align: center;
    margin-left: 85%;
    margin-top: -380px;
}

.orange {
    background: #ff6a00;
}

.red {
    background: red;
}

.dark {
    background: rgb(48, 48, 48);
}

.ocean {
    background-color: #7ad9b0;
    color: black;
}

    .ocean:hover, .ocean:active, .ocean:visited, .ocean:focus {
        background-color: #62bc95;
    }

.beige {
    background: #c68e47;
}

.green {
    background: #89f646;
}

.blue {
    background: #5897fb;
}

.blueNoteAll {
    background: #438cff;
    color: white;
}

    .blueNoteAll:hover, .blueNoteAll:active {
        background: #3784ff;
        color: white;
    }

.light {
    background: #ccd4ff;
}

.white {
    background: white;
    color: black;
    float: right;
}

    .white:hover, .white:visited, .white:active, .white:focus {
        border: solid 1px black;
        color: black;
    }

.yellow {
    background: #f9ff26;
}

.black {
    background: black;
}

.purple {
    background: #a000ff;
}

.darkblue {
    background: rgb(0,0,102);
}

.pink {
    background: rgb(255,51,255);
}

footer {
    text-align: center;
    background: #8C9EFF;
    color: black;
    font-size: 18pt;
    position: relative;
    margin-top: 5%;
}

    footer span {
        background: #8C9EFF;
        padding-top: 5px;
        padding-bottom: 5px;
    }

.btn:focus, .btn:active, .btn:visited, .inputArea:focus, .inputArea:active, .inputArea:visited,
.inputCategory:focus, .inputCategory:active, .inputCategory:visited {
    outline: none;
}

.active {
    left: 0;
}

/*
    roba non mia sotto
    
*/


.navbar-header {
    float: none;
    text-align: center;
}

/* top bar */
.navbar {
    text-transform: uppercase;
    background-color: #ccd4ff;
    border: none;
}

    .navbar a {
        color: #fff;
        font-weight: 300;
        text-decoration: none;
    }

.navbar-default .navbar-brand {
    color: #fff;
    font-weight: bold;
    margin: 0;
    line-height: 50px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    float: none;
}

.right {
    float: right;
}

/* toggle button */
.navbar-toggle {
    border: none;
    color: #fff;
    margin: 0;
    padding: 18px 15px;
    border-radius: 0px;
    float: left;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ccd4ff;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }


/* Position where the element is fixed */
.affix {
    top: 50px;
    width: 200px;
}

#affix {
    width: 200px;
}

.nav li a {
    border-bottom: 1px solid #ddd;
    color: #ccd4ff;
}

    .nav li a i {
        margin-right: 20px;
    }

#myModalDestroy {
    color: black;
}

.destroyAllModal button {
    width: 40%;
    font-size: 13pt;
}

.blockNoteContainer {
    display: none;
}

.blockNotePreview::-webkit-scrollbar {
    width: 5px;
}

.blockNotePreview::-webkit-scrollbar-track {
    background: white;
}

.blockNotePreview::-webkit-scrollbar-thumb {
    background-color: rgb(38,38,38);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.photoScroll::-webkit-scrollbar {
    width: 5px;
}

.photoScroll::-webkit-scrollbar-track {
    background: rgb(198,198,198);
}

.photoScroll::-webkit-scrollbar-thumb {
    background-color: rgb(38,38,38);
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}


#fbColor:hover {
    color: white;
    background: #3b5998;
}

#twColor:hover {
    background: #1dcaff;
}

#alColor:hover {
    background: #89f646;
}

.bordered {
    border: solid 1px black;
}


.blockNotePreview {
    background-image: url("../images/noise.png");
    background-color: transparent;
    width: 90%;
    min-height: 750px;
    margin-top: 2%;
    -webkit-box-shadow: -9px 7px 15px 0px rgba(28, 28, 28, 0.78);
    -moz-box-shadow: -9px 7px 15px 0px rgba(28, 28, 28, 0.78);
    box-shadow: -9px 7px 15px 0px rgba(28, 28, 28, 0.78);
    /**/
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

    .blockNotePreview:before {
        pointer-events: none;
        position: absolute;
        content: '';
        height: 35px;
        width: 35px;
        top: 0;
        right: 0px;
        /* IE9 */
        background: linear-gradient(225deg, white 45%, #aaaaaa 50%, #cccccc 56%, white 75%);
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: width, height;
        transition-property: width, height;
    }



    .blockNotePreview h1 {
        color: black;
        font-family: Gloria Hallelujah;
        text-align: center;
        font-size: 40pt;
        letter-spacing: 1px;
    }

    .blockNotePreview article {
        margin-top: 2%;
        /*Gloria Hallelujah*/
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
        font-size: 15pt;
    }

.scrollable {
    overflow-y: scroll;
    max-height: 751px;
}

.not-scrollable {
    overflow-y: visible;
    max-height: auto;
}

.creditsContent h3 {
    padding: 5px;
    transition: all 0.2s ease-in-out;
    background: white;
    cursor: pointer;
}

    .creditsContent h3:hover {
        transition: all 0.2s ease-in-out;
        background: #7ad9b0;
    }

.trashBar::-webkit-scrollbar {
    height: 120px;
    width: 5px;
}

.trashBar::-webkit-scrollbar-track {
    background: white;
}

.trashBar::-webkit-scrollbar-thumb {
    background-color: rgb(38,38,38);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100px;
}

.trashBar {
    overflow-y: scroll;
    max-height: 700px;
}

.trashList label {
    font-size: 15pt;
    font-weight: bold;
}

.lastEdit {
    font-weight: lighter;
    font-style: normal;
    float: right;
    font-size: 12pt;
}

/*
  loading contents page

.rowPrincipal {
    background: #8C9EFF;
    color: black;
    min-height: 100vh;
    text-align: center;
}

.titlePrincipal {
    margin-top: 10%;
    font-size: 120pt;
    font-family: Gloria Hallelujah;
}

.rowPrincipal h2 {
    margin-top: 5%;
    font-family: Poiret One;
    font-weight: bold;
}

.rowPrincipal h3 {
    margin-top: 10%;
}

*/

@media screen and (max-width: 1150px) {
    .title span {
        display: none;
    }
}

/* collapsed sidebar styles */
@media screen and (max-width: 992px) {


    .affix {
        position: static;
    }

    #affix {
        width: 100%;
    }

    .sidebar-offcanvas {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        width: 60%;
        background-color: rgb(48,48,48);
        z-index: 51;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 57px;
        left: -60%;
        font-size: 18pt;
        padding-left: 10px;
        color: #f0eded;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }

        .sidebar-offcanvas ul li {
            margin-top: 15px;
            margin-left: 15px;
            margin-right: 15px;
        }

            .sidebar-offcanvas ul li a {
                color: #fff;
                padding: 15px 20px;
                margin: 0;
                font-size: 15px;
                border-bottom: 1px solid #d6474d;
            }

                .sidebar-offcanvas ul li a:hover {
                    background: #54303a;
                    border: none;
                    border-radius: 0;
                }

            .sidebar-offcanvas ul li input {
                width: 90%;
                height: 30px;
                font-size: 12pt;
                padding-left: 15px;
                color: black;
            }

    .sidebarElement i {
        float: left;
        margin-left: 10px;
        margin-top: 5px;
        font-size: 15pt;
        color: black;
        width: 40px;
        height: 40px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding-top: 10px;
        padding-left: 12px;
    }

    .sidebarElement {
        -webkit-transition: all 0.2s ease-in-out;
        cursor: pointer;
        font-family: NTR;
        color: #f0eded;
    }

    #addMobile {
        background: rgb(52,52,52);
        color: #89f646;
    }

    #light {
        background: rgb(52,52,52);
        background: #ccd4ff;
    }

    #yellow {
        background: rgb(52,52,52);
        color: #f9ff26;
    }

    #orange {
        background: rgb(52,52,52);
        color: #ff6a00;
    }

    #ocean {
        background: rgb(52,52,52);
        color: #7ad9b0;
    }

    #white {
        background: white;
        color: black;
    }

    #grey {
        color: #dfdfdf;
        background: rgb(52,52,52);
    }

    #green {
        background: rgb(52,52,52);
        color: #89f646;
    }

    #purple {
        background: rgb(52,52,52);
        color: #a000ff;
    }

    #beige {
        background: rgb(52,52,52);
        color: #caa83e;
    }

    #blue {
        background: rgb(52,52,52);
        color: #5897fb;
    }

    #dark {
        background: rgb(52,52,52);
        color: white;
    }

    .sidebarElement:hover, .sidebarElement:active {
        -webkit-transition: all 0.2s ease-in-out;
        background: rgb(88,88,88);
    }

    .nav {
        margin-top: 0px;
    }

        .nav > li > a:hover,
        .nav > li > a:focus {
            background-color: #ff625f;
        }

    .active {
        left: 0;
    }
}

a, a:hover, a:visited, a:focus, a:active {
    text-decoration: none;
    color: black;
}

.blockNote.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}

.blockNote.ng-enter-active {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .titlePrincipal {
        font-size: 35pt;
    }

    .crea {
        font-size: 25pt;
    }

    #addFeatures {
        font-size: 15pt;
        text-align: center;
        color: black;
        width: 30px;
        height: 30px;
        padding: 10px 16px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .notesExample img {
        width: 100px;
        height: 150px;
    }

    .rowExamples h1 {
        font-size: 15pt;
    }

    .photoScroll {
        max-height: 500px;
        overflow-y: scroll;
    }
}

@media only screen and (min-device-width : 100px) and (max-device-width : 568px) and (orientation : portrait) {

    .titlePrincipal {
        font-size: 35pt;
    }

    .crea {
        font-size: 25pt;
    }

    #addFeatures {
        font-size: 15pt;
        text-align: center;
        color: black;
        width: 25px;
        height: 25px;
        padding: 10px 16px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .fontButtonsModal {
        font-size: 12pt;
    }


    .notesExamples img {
        height: 250px;
    }

    .rowExamples h1 {
        font-size: 15pt;
    }

    #firstImg, #secondImg, #thirdImg {
        width: 80%;
        height: 400px;
    }

    .sidebarElement i {
        font-size: 14pt;
        margin-top: 5px;
        color: black;
        width: 40px;
        height: 40px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-top: 13px;
        padding-left: 12.5px;
        margin: 0 auto;
    }

    #sidebarIcon {
        font-size:13pt;
    }

    .sidebar-offcanvas ul li input {
        width: 90%;
        height: 40px;
        font-size: 12pt;
        padding-left: 15px;
        color: black;
    }

    .blockNotePreview h1 {
        font-size: 30pt;
    }
}

/*
    OVERRIDE SELECT 2

*/

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 28px;
        user-select: none;
        -webkit-user-select: none;
    }

        .select2-container .select2-selection--single .select2-selection__rendered {
            display: block;
            padding-left: 8px;
            padding-right: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .select2-container .select2-selection--single .select2-selection__clear {
            position: relative;
        }

    .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
        padding-right: 8px;
        padding-left: 20px;
    }

    .select2-container .select2-selection--multiple {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        min-height: 32px;
        user-select: none;
        -webkit-user-select: none;
        width: 200px;
    }

        .select2-container .select2-selection--multiple .select2-selection__rendered {
            display: inline-block;
            overflow: hidden;
            padding-left: 8px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    .select2-container .select2-search--inline {
        float: left;
    }

        .select2-container .select2-search--inline .select2-search__field {
            box-sizing: border-box;
            border: none;
            font-size: 100%;
            margin-top: 5px;
            padding: 0;
        }

            .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
                -webkit-appearance: none;
            }

.select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}

.select2-results {
    display: block;
}

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0;
}

.select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none;
}

    .select2-results__option[aria-selected] {
        cursor: pointer;
    }

.select2-container--open .select2-dropdown {
    left: 0;
}

.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.select2-search--dropdown {
    display: block;
    padding: 4px;
}

    .select2-search--dropdown .select2-search__field {
        padding: 4px;
        width: 100%;
        box-sizing: border-box;
    }

        .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }

    .select2-search--dropdown.select2-search--hide {
        display: none;
    }

.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
    filter: alpha(opacity=0);
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 28px;
    }

    .select2-container--default .select2-selection--single .select2-selection__clear {
        cursor: pointer;
        float: right;
        font-weight: bold;
    }

    .select2-container--default .select2-selection--single .select2-selection__placeholder {
        color: #999;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 26px;
        position: absolute;
        top: 1px;
        right: 1px;
        width: 20px;
    }

        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            border-color: #888 transparent transparent transparent;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            height: 0;
            left: 50%;
            margin-left: -4px;
            margin-top: -2px;
            position: absolute;
            top: 50%;
            width: 0;
        }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default;
}

    .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
        display: none;
    }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: text;
}

    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        box-sizing: border-box;
        list-style: none;
        margin: 0;
        padding: 0 5px;
        width: 100%;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
        color: #999;
        margin-top: 5px;
        float: left;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__clear {
        cursor: pointer;
        float: right;
        font-weight: bold;
        margin-top: 5px;
        margin-right: 10px;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #333;
        border: 1px solid #aaa;
        border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
        cursor: default;
        float: left;
        color: white;
        margin-right: 5px;
        margin-top: 5px;
        padding: 0 5px;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: #999;
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        margin-right: 2px;
    }

        .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
            color: red;
        }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
    float: right;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid black 1px;
    outline: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield;
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}

.select2-container--default .select2-results__option[role=group] {
    padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ddd;
}

.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em;
}

    .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
        padding-left: 0;
    }

    .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
        margin-left: -1em;
        padding-left: 2em;
    }

        .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
            margin-left: -2em;
            padding-left: 3em;
        }

            .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
                margin-left: -3em;
                padding-left: 4em;
            }

                .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
                    margin-left: -4em;
                    padding-left: 5em;
                }

                    .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
                        margin-left: -5em;
                        padding-left: 6em;
                    }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: white;
}

.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
}

.select2-container--classic .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    outline: 0;
    background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%);
    background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

    .select2-container--classic .select2-selection--single:focus {
        border: 1px solid #5897fb;
    }

    .select2-container--classic .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 28px;
    }

    .select2-container--classic .select2-selection--single .select2-selection__clear {
        cursor: pointer;
        float: right;
        font-weight: bold;
        margin-right: 10px;
    }

    .select2-container--classic .select2-selection--single .select2-selection__placeholder {
        color: #999;
    }

    .select2-container--classic .select2-selection--single .select2-selection__arrow {
        background-color: #ddd;
        border: none;
        border-left: 1px solid #aaa;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        height: 26px;
        position: absolute;
        top: 1px;
        right: 1px;
        width: 20px;
        background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
        background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
        background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
    }

        .select2-container--classic .select2-selection--single .select2-selection__arrow b {
            border-color: #888 transparent transparent transparent;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            height: 0;
            left: 50%;
            margin-left: -4px;
            margin-top: -2px;
            position: absolute;
            top: 50%;
            width: 0;
        }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    border: none;
    border-right: 1px solid #aaa;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: 1px;
    right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #5897fb;
}

    .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
        background: transparent;
        border: none;
    }

        .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
            border-color: transparent transparent #888 transparent;
            border-width: 0 4px 5px 4px;
        }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 50%);
    background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%);
    background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #eeeeee 50%, white 100%);
    background-image: -o-linear-gradient(top, #eeeeee 50%, white 100%);
    background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
}

.select2-container--classic .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: text;
    outline: 0;
}

    .select2-container--classic .select2-selection--multiple:focus {
        border: 1px solid #5897fb;
    }

    .select2-container--classic .select2-selection--multiple .select2-selection__rendered {
        list-style: none;
        margin: 0;
        padding: 0 5px;
    }

    .select2-container--classic .select2-selection--multiple .select2-selection__clear {
        display: none;
    }

    .select2-container--classic .select2-selection--multiple .select2-selection__choice {
        background-color: #e4e4e4;
        border: 1px solid #aaa;
        border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
        cursor: default;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
        padding: 0 5px;
    }

    .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
        color: #888;
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        margin-right: 2px;
    }

        .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
            color: #555;
        }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    float: right;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0;
}

.select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0;
    box-shadow: none;
}

.select2-container--classic .select2-dropdown {
    background-color: white;
    border: 1px solid transparent;
}

.select2-container--classic .select2-dropdown--above {
    border-bottom: none;
}

.select2-container--classic .select2-dropdown--below {
    border-top: none;
}

.select2-container--classic .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}

.select2-container--classic .select2-results__option[role=group] {
    padding: 0;
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
    color: grey;
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #3875d7;
    color: white;
}

.select2-container--classic .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
}

.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #5897fb;
}

/*
    END OVERRIDE SELECT 2
*/


/*
    START OVERRIDE TXTANGULAR 
*/
.ta-hidden-input {
    width: 1px;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -10000px;
    left: -10000px;
    opacity: 0;
    overflow: hidden;
}

/* add generic styling for the editor */
.ta-root.focussed > .ta-scroll-window.form-control {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.ta-editor.ta-html, .ta-scroll-window.form-control {
    min-height: 500px;
    max-height: 500px;
    overflow-y: scroll;
    font-family: inherit;
    font-size: 100%;
}

.ta-scroll-window.form-control {
    position: relative;
    padding: 0;
    min-height: 400px;
    outline: none;
}

.ta-scroll-window > .ta-bind {
    padding: 6px 12px;
    outline: none;
    min-height: 398px;
}

.ta-editor:focus {
    user-select: text;
}

/* add the styling for the awesomness of the resizer */
.ta-resizer-handle-overlay {
    z-index: 100;
    position: absolute;
    display: none;
}

    .ta-resizer-handle-overlay > .ta-resizer-handle-info {
        position: absolute;
        bottom: 16px;
        right: 16px;
        border: 1px solid black;
        background-color: #FFF;
        padding: 0 4px;
        opacity: 0.7;
    }

    .ta-resizer-handle-overlay > .ta-resizer-handle-background {
        position: absolute;
        bottom: 5px;
        right: 5px;
        left: 5px;
        top: 5px;
        border: 1px solid black;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .ta-resizer-handle-overlay > .ta-resizer-handle-corner {
        width: 10px;
        height: 10px;
        position: absolute;
    }

    .ta-resizer-handle-overlay > .ta-resizer-handle-corner-tl {
        top: 0;
        left: 0;
        border-left: 1px solid black;
        border-top: 1px solid black;
    }

    .ta-resizer-handle-overlay > .ta-resizer-handle-corner-tr {
        top: 0;
        right: 0;
        border-right: 1px solid black;
        border-top: 1px solid black;
    }

    .ta-resizer-handle-overlay > .ta-resizer-handle-corner-bl {
        bottom: 0;
        left: 0;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
    }

    .ta-resizer-handle-overlay > .ta-resizer-handle-corner-br {
        bottom: 0;
        right: 0;
        border: 1px solid black;
        cursor: se-resize;
        background-color: white;
    }

/* copy the popover code from bootstrap so this will work even without it */
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

    .popover.top {
        margin-top: -10px;
    }

    .popover.bottom {
        margin-top: 10px;
    }

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}

.popover-content {
    padding: 9px 14px;
}

.popover > .arrow,
.popover > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover > .arrow {
    border-width: 11px;
}

    .popover > .arrow:after {
        content: "";
        border-width: 10px;
    }

.popover.top > .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, .25);
    border-bottom-width: 0;
}

    .popover.top > .arrow:after {
        bottom: 1px;
        margin-left: -10px;
        content: " ";
        border-top-color: #fff;
        border-bottom-width: 0;
    }

.popover.bottom > .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, .25);
}

    .popover.bottom > .arrow:after {
        top: 1px;
        margin-left: -10px;
        content: " ";
        border-top-width: 0;
        border-bottom-color: #fff;
    }
